*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 3rem;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.8rem !important; }

.u-margin-right {
  margin-right: 4.8rem; }

.u-content-spacing {
  margin-bottom: 4.2rem !important; }

.u-text-center {
  text-align: center !important; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    letter-spacing: 2.4rem;
    font-size: 6.4rem;
    display: block;
    margin-bottom: 2rem;
    animation: moveInRight 0.6s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    animation: moveInLeft 0.6s ease-out; }

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skew(7deg, 2deg) scale(1.1);
    text-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.text {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.8rem 4rem;
  border-radius: 10rem;
  position: relative;
  transition: all 0.4s;
  border: none; }
  .btn--white {
    color: #777;
    background-color: #fff; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s; }
  .btn:hover {
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.6rem); }
    .btn:hover:after {
      transform: scale(1.4, 1.6);
      opacity: 0; }
  .btn:active {
    outline: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.15); }

.btn-text {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #55c57a;
  padding: 0.6rem 0.8rem;
  border: none;
  border-bottom: 0.2rem solid #55c57a;
  font-weight: 500;
  transition: all 0.3s; }
  .btn-text:hover {
    outline: none;
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-0.4rem);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.15); }
  .btn-text:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }

.img-composition {
  position: relative; }
  .img-composition__img {
    position: absolute;
    width: 55%;
    transition: all 0.3s;
    border-radius: 0.4rem; }
    .img-composition__img--1 {
      top: 1.4rem;
      left: 2.4; }
    .img-composition__img--2 {
      top: 6.4rem;
      right: 0.6rem; }
    .img-composition__img--3 {
      top: 14.4rem;
      right: 14.4rem; }
    .img-composition__img:hover {
      transform: scale(1.05);
      z-index: 1;
      outline: solid 1.4rem #55c57a;
      outline-offset: 1.5rem; }
  .img-composition:hover .img-composition__img:not(:hover) {
    transform: scale(0.95); }

.card {
  text-align: center;
  padding: 3rem 2.4rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem; }
  .card__icon {
    display: inline-block;
    font-size: 6.4rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3.8rem; }
  .card:hover {
    transform: translateY(-1.8rem);
    box-shadow: 0 0.7rem 2.1rem rgba(0, 0, 0, 0.15); }

.tours {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .tours__card {
    height: 50rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15); }
    .tours__card--back {
      transform: rotateY(180deg);
      z-index: -1;
      text-align: center;
      padding: 12rem 0; }
      .tours__card--back--1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .tours__card--back--2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .tours__card--back--3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .tours:hover .tours__card--front {
    transform: rotateY(-180deg); }
  .tours:hover .tours__card--back {
    transform: rotateY(0); }
  .tours__img-box {
    height: 24rem;
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .tours__img-box--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(/img/nat-5.jpg); }
    .tours__img-box--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(/img/nat-6.jpg); }
    .tours__img-box--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(/img/nat-7.jpg); }
  .tours__text-box {
    text-align: center; }
  .tours__heading {
    font-size: 3.2rem;
    font-weight: 300;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 70%;
    box-decoration-break: clone;
    text-transform: uppercase;
    color: #fff; }
    .tours__heading--span {
      padding: 0.6rem 1.5rem; }
      .tours__heading--span--1 {
        background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .tours__heading--span--2 {
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .tours__heading--span--3 {
        background-image: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .tours__list {
    width: 75%;
    margin: 0 auto;
    list-style: none;
    font-size: 1.6rem; }
    .tours__list--items {
      padding: 1.4rem 2.4rem; }
      .tours__list--items:not(:last-child) {
        border-bottom: 0.1rem solid #ddd; }
  .tours__only {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .tours__price {
    color: #fff;
    font-size: 6.4rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6.4rem 8.2rem;
  transform: skewX(-12deg); }
  .story__figure {
    width: 16rem;
    height: 16rem;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(-3rem) skewX(12deg); }
    .story__figure--img {
      height: 100%;
      transform: translateX(-4rem) scale(1.2);
      transition: all 0.5s; }
    .story__figure--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: #fff;
      font-size: 1.8rem;
      text-align: center;
      line-height: 1.6;
      text-transform: uppercase;
      transition: all 0.5s;
      opacity: 0; }
  .story:hover .story__figure--caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__figure--img {
    filter: blur(0.2rem);
    transform: scaleY(1) translateX(-4rem); }
  .story__text {
    transform: skewX(12deg); }

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .video-bg__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15; }

.form {
  width: 50%;
  padding: 6.4rem 5.2rem; }
  .form__input {
    display: block;
    width: 90%;
    height: 5.2rem;
    padding-left: 1.6rem;
    border: none;
    border-bottom: 0.4rem solid transparent;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    color: inherit;
    position: relative; }
    .form__input::placeholder {
      font-family: inherit;
      color: #999; }
    .form__input:focus {
      outline: none;
      border-bottom: 0.4rem solid #28b485; }
      .form__input:focus:invalid {
        border-bottom: 0.4rem solid #ff7730; }
  .form__label {
    display: block;
    font-weight: 600;
    transition: all 0.3s;
    font-size: 1.2rem;
    padding-left: 2rem;
    transform: translateY(1rem); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    transform: translateY(-3.8rem); }
  .form__radio-group {
    display: inline-block;
    font-size: 1.6rem;
    position: relative;
    margin-left: 1.4rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    padding-left: 2.4rem;
    cursor: pointer; }
  .form__radio-button {
    position: absolute;
    top: 50%;
    left: -0.8rem;
    transform: translate(0, -50%);
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    border: solid 0.4rem #55c57a; }
    .form__radio-button::after {
      content: "";
      height: 1rem;
      width: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .form__radio-input:checked + .form__radio-label .form__radio-button::after {
    background-color: #55c57a; }

.row {
  max-width: 115rem;
  margin-right: auto;
  margin-left: auto; }
  .row::after {
    content: "";
    clear: both;
    display: block; }
  .row:not(:last-child) {
    margin-bottom: 7.2rem; }
  .row [class^="col--"] {
    float: left; }
    .row [class^="col--"]:not(:last-child) {
      margin-right: 5.2rem; }
  .row .col--1-of-2 {
    width: calc((100% - 5.2rem) / 2); }
  .row .col--1-of-3 {
    width: calc((100% - 10.4rem) / 3); }
  .row .col--1-of-4 {
    width: calc((100% - 15.6rem) / 4); }
  .row .col--2-of-3 {
    width: calc( ((100% - 10.4rem) / 3) * 2 + 5.2rem); }
  .row .col--2-of-4 {
    width: calc( ((100% - 15.6rem) / 4) * 2 + 5.2rem); }
  .row .col--3-of-4 {
    width: calc( ((100% - 15.6rem) / 4) * 3 + 10.4rem); }

.header {
  text-align: center;
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(/img/hero.jpg);
  position: relative;
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__img-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%); }

.section-about {
  padding: 25rem 0 30rem;
  background-color: #f7f7f7;
  margin-top: -20rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(/img/nat-6.jpg);
  position: relative;
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 20rem 0;
  background-color: #f7f7f7;
  margin-top: -9rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(/img/nat-10.jpg); }
