.card {
  text-align: center;
  padding: 3rem 2.4rem;
  background-color: rgba($color-white, 0.8);
  transition: all 0.3s;
  box-shadow: 0 1.4rem 2.8rem rgba($color-black, 0.15);
  border-radius: 0.4rem;

  &__icon {
    display: inline-block;
    font-size: 6.4rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3.8rem;
  }

  &:hover {
    transform: translateY(-1.8rem);
    box-shadow: 0 0.7rem 2.1rem rgba($color-black, 0.15);
  }
}
