.tours {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__card {
    height: 50rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 2.4rem 4.8rem rgba($color-black, 0.15);
    border-radius: 0.3rem;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
      z-index: -1;
      text-align: center;
      padding: 12rem 0;

      &--1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__card--front {
    transform: rotateY(-180deg);
  }

  &:hover &__card--back {
    transform: rotateY(0);
  }

  &__img-box {
    height: 24rem;
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(/img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        ),
        url(/img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(/img/nat-7.jpg);
    }
  }
  &__text-box {
    text-align: center;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 300;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 70%;
    box-decoration-break: clone;
    text-transform: uppercase;
    color: $color-white;

    &--span {
      padding: 0.6rem 1.5rem;

      &--1 {
        background-image: linear-gradient(
          to right,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light, 0.8),
          rgba($color-tertiary-dark, 0.8)
        );
      }
    }
  }

  &__list {
    width: 75%;
    margin: 0 auto;
    list-style: none;
    font-size: 1.6rem;

    &--items {
      padding: 1.4rem 2.4rem;

      &:not(:last-child) {
        border-bottom: 0.1rem solid $color-grey-light-3;
      }
    }
  }

  &__only {
    color: $color-white;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price {
    color: $color-white;
    font-size: 6.4rem;
    font-weight: 100;
  }
}

@media only screen and (max-width: 1200), only screen and (hover: none) {
  .tours {
    height: auto;
    background-color: $color-white;
    box-shadow: 0 2.4rem 4.8rem rgba($color-black, 0.15);

    &__card {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        padding: 4.2rem 0;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__card--front {
      transform: rotateY(0);
    }

    &__only {
      margin-bottom: 1.4rem !important;
    }
    &__price {
      margin-bottom: 4rem !important;
    }
  }
}
