*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 68.75%;

  @include respond(1400) {
    font-size: 56.25%;
  }

  @include respond(1800) {
    font-size: 81.25%;
  }

  @include respond(1100) {
    font-size: 50%;
  }
}

body {
  margin: 3rem;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $color-grey-dark;

  @include respond(700) {
    margin: 0;
  }
}
