.heading-primary {
  text-transform: uppercase;
  color: $color-white;

  &--main {
    letter-spacing: 2.4rem;
    font-size: 6.4rem;
    display: block;
    margin-bottom: 2rem;
    animation: moveInRight 0.6s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    animation: moveInLeft 0.6s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;

  &:hover {
    transform: skew(3deg, 3deg) scale(1.1);
    text-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-grey-dark;
}

.text {
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}
