.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-content-spacing {
  margin-bottom: 4.2rem;
}

.u-text-center {
  text-align: center;
}
