.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(1000) {
    margin-bottom: 6.4rem !important;
  }

  @include respond(700) {
    margin-bottom: 4.8rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 2.6rem !important;

  @include respond(1000) {
    margin-bottom: 2.4rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem !important;
}

.u-margin-right {
  margin-right: 4.8rem;
}

.u-content-spacing {
  margin-bottom: 4.2rem !important;
}

.u-text-center {
  text-align: center !important;
}

.u-column--2 {
  -moz-column-count: 2;
  -moz-column-gap: 2.4rem;
  -moz-column-rule: 0.1rem solid $color-grey-light-2;
  column-count: 2;
  column-gap: 2.4rem;
  column-rule: 0.1rem solid $color-grey-light-2;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.u-padding-left-1000 {
  @include respond(1000) {
    padding-left: 12.5rem !important;
  }
}

.u-display-block {
  display: block !important;
}
